
.header {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  border: 1px var(--chakra-colors-gray-200) solid;
}

.header a{
  display: inline-block;
}
.header .navigation{
  display: inline-block;
  padding: 20px;
  width: fit-content;
}
.layout{
  padding: 0 2rem;
  margin-bottom: 30px;
  min-height: 500px;
  height: fit-content;
}

.search{
  margin: 20px 2rem;
}

.home{
  margin: 20px 0px;
}

.searchItem{
  display: flex;
  justify-content: space-between;
}

.menu{
  margin: 20px 0px;
}

